
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo preto com detalhes azul*/
:root {
    --primary-color: #00d4ff;
    --secundary-color: black;
    --trihd-color: white;
    --bg-body: black;         
    --bg-card: #161b22;         
    --text-main: #e0e0e0;       
}

/* Estilização do corpo da página e do fundo */
body {
    background-color: var(--bg-body);
    background-image:
        linear-gradient(rgba(0, 212, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 212, 255, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;  /* espaçaemento entre as linhas da textura */
    color: var(--trihd-color);
    line-height: 1.6;
    /* linhas horizontais e verticais, deixando um funco como se fosse uma textura */
}

/* Estilização do cabeçalho*/
header {
    background-color: var(--secundary-color);
    backdrop-filter: blur(10px);
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--primary-color);
}

/*estilo do logo com detalhes em azul*/
.logo {
    color: var(--trihd-color);
    font-size: 1.5rem;               
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo span {
    color: var(--primary-color);
    text-shadow: 0 0 8px var(--primary-color);
    /* Efeito letra trannsbordando */
}

/* organização da navegação, centralização da linha e espaçamento */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* centralização e removendo o tracinho - */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}


nav ul li a {
    color: var(--trihd-color);
    text-decoration: none;
    transition: 0.3s;
}

/*Efeito ananimado de transição suave para a mudança de cor */ 
nav ul li a:hover {
    color: var(--primary-color);
}

/*centralização do mini texto e do título*/
#home {
    padding: 6rem 5%; 
    display: flex;
    text-align: center; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização do título e do parágrafo */
#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--trihd-color);
}

#home p {
    font-size: 1.2rem;
    color: var(--text-main); 
    max-width: 50rem; 
}

#servicos {
    padding: 4rem 5%;
    text-align: center;
}

#servicos h2 {
    color: var(--trihd-color);
    margin-bottom: 2rem;
    font-size: 2rem;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  /* responsividade dos cards */
    gap: 2rem;                                                    /* espaçamento entre os cards */
    margin-top: 2rem;                                             /* espaçamento entre o título e os cards */
}

/* Estilização dos Cards */
article {
    background-color: var(--bg-card); 
    padding: 2rem;
    border-radius: 12px;                             /*cantos redondos */
    border: 1px solid var(--bg-card);                
    box-shadow: 0 10px 30px var(--secundary-color);  /*sombra no card */
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;                                /* efeito ficar dentro do card*/
}

/* Efeito animado para os cards */
article:hover {
    transform: translateY(-10px);                  /* efeito de levitar*/
    border-color: var(--primary-color);
    background-color: var(--bg-card); 
}

/* Detalhe da borda lateral azul */
article::before {
    content: "";                                /* borda na leteal do card*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: var(--primary-color);
}

/* Títulos dos cards*/
article h3 {
    color: var(--primary-color); 
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-shadow: 0 0 8px var(--primary-color);
}

/* Texto das descrições */
article p {
    color: var(--text-main);
    font-size: 1rem;
}

/* Estilo da Seção de Contato */
#contato {
    padding: 6rem 5%;
    text-align: center;
    background-color: var(--secundary-color);
        backdrop-filter: blur(10px);                          /* efeito de desfoque */
        border-top: 5px solid var(--primary-color);
        border-bottom: 5px solid var(--primary-color);         
}

#contato h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.contato-container p {   /* quando aparecer com o ponto no inicio, explicar que esse é o codigo para estilizar o varivael do HTML*/
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

/* Parte Inovação */
html {
    scroll-behavior: smooth;
}

/* Botão de WhatsApp (parte inovação) */
.btn-whatsapp {
    display: inline-block;
    background-color: transparent;
    color: var(--primary-color);
    padding: 15px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--primary-color);
}

.btn-whatsapp:hover {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transform: scale(1.05);
}