
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    --primary-color: #00d4ff;
    --secundary-color: black;
    --trihd-color: white;
    --bg-body: black;         
    --bg-card: #161b22;         
    --text-main: #e0e0e0;       
}


body {
    background-color: var(--bg-body);
    background-image:
        linear-gradient(rgba(0, 212, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 212, 255, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;  
    color: var(--trihd-color);
    line-height: 1.6;
    
}


header {
    background-color: var(--secundary-color);
    backdrop-filter: blur(10px);
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--primary-color);
}


.logo {                                                      
    font-size: 1.5rem;               
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo span {
    color: var(--primary-color);
    text-shadow: 0 0 8px var(--primary-color);
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}


nav ul li a {
    color: var(--trihd-color);
    text-decoration: none;
    transition: 0.3s;
}


nav ul li a:hover {
    color: var(--primary-color);
}


#home {
    padding: 6rem 5%; 
    display: flex;
    text-align: center; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--trihd-color);
}

#home p {
    font-size: 1.2rem;
    color: var(--text-main); 
    max-width: 50rem; 
}


#servicos {
    padding: 4rem 5%;
    text-align: center;
}

#servicos h2 {
    color: var(--trihd-color);
    margin-bottom: 2rem;
    font-size: 2rem;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    gap: 2rem;                                                    
    margin-top: 2rem;                                             
}


article {
    background-color: var(--bg-card); 
    padding: 2rem;
    border-radius: 12px;                             
    border: 1px solid var(--bg-card);                
    box-shadow: 0 10px 30px var(--secundary-color);  
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;                              
}


article:hover {
    transform: translateY(-10px);                  
    border-color: var(--primary-color);
    background-color: var(--bg-card); 
}

article::before {
    content: "";                               
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: var(--primary-color);
}

article h3 {
    color: var(--primary-color); 
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-shadow: 0 0 8px var(--primary-color);
}

article p {
    color: var(--text-main);
    font-size: 1rem;
}


#contato {
    padding: 6rem 5%;
    text-align: center;
    background-color: var(--secundary-color);
        backdrop-filter: blur(10px);                          
        border-top: 5px solid var(--primary-color);
        border-bottom: 5px solid var(--primary-color);         
}

#contato h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contato-container p {   
    margin-bottom: 2rem;
    font-size: 1.2rem;
}


html {
    scroll-behavior: smooth;
}

.btn-whatsapp {
    display: inline-block;
    background-color: transparent;
    color: var(--primary-color);
    padding: 15px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--primary-color);
}

.btn-whatsapp:hover {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    box-shadow: 0 0 20px var(--primary-color);
}
